@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 1px) and (max-width: 767px) {
.header .logo{max-width:125px; margin:0 auto; width:100%; float:none !important;}
.menu-block .hamburger{top:22px;}
.header .profile-pic-sidebar{display:block !important;}
.header .userName-sidebar{display:block !important;}
.upload-panel{padding:15px 0;}
.sidebar-nav li:last-child:hover {background:none;}
.login-box{margin-top:20px;}
.grey-box{padding:15px 0;}

}

@media only screen and (min-width:481px) and (max-width: 768px) {

}


