<div class="header">
  <div class="container txtCenter">
    <img src="assets/images/dhfl-logo.png" class="logo" />
  </div>
</div>


<div class="mid-container">
  <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
    <div class="login-box">
      <h2>LOGIN</h2>
      <div class="login-fields">
        <div class="input-box">
          <label class="fieldTitle">Username*</label>
          <input type="text" placeholder="Username" />
        </div>

        <div class="input-box">
          <label class="fieldTitle">Password*</label>
          <input type="text" placeholder="Password" />
        </div>
        <div class="clear mb10"></div>
        <div class="col-xs-6 nopadding">
          <button type="Submit" class="loginBtn">Login</button>
        </div>
        <div class="col-xs-6 nopadding">
          <button type="Submit" class="loginBtn">Reset</button>
        </div>
        <div class="clear mb20"></div>
      </div>
    </div>
  </div>
</div>